
.homePage{
    display:flex;
  .sologan{
      max-width:550px;
      margin:100px 50px;
      h2{
        font-family: 'Special Elite';
      &::first-letter{
        font-weight:999;
        font-size: 2.8rem;
         }
        }
      p{
          letter-spacing: 2px;
          font-weight:99;
      }
}
.frontVector{
    margin:50px;
    img{
        width:650px;
        height:380px;
    }
    h3{
        position: relative;
        border-right: .15em solid black;
        top:180px;
        letter-spacing: .05em;
        white-space: nowrap;
        margin: 0 auto;
        width:290px;
        // border:1px solid red;
        overflow: hidden;
        animation:typing 3.5s steps(20, end), blink-caret 0.5s step-end;

        @keyframes typing {
            from { width: 0 }
            to { width: 45% }
          }
          @keyframes blink-caret {
            from, to { border-color: transparent }
            20% { border-color: black }
          }
    }
}
}



// Nav.js Style
.Apps{
        .navBar{
            justify-content:space-between;
            display: flex;
            background-color:rgba(22, 90, 95,0.2);
        .logo{
            padding:20px;
            margin:0px 40px;
        }
        .navList{
            list-style:none;
            justify-content: flex-end;
            display: flex;
            padding:20px;
        .linkStyle{
            text-decoration-line:none;
            color:black;
            }
        li{
            padding:10px;
            margin:0px 40px;
            font-family: 'Special Elite', cursive;
        &::first-letter {
             font-size: 2rem;
      }
        &:hover{
             color:white;
            }
        }
      }
    }
}
