.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePage .sologan {
  max-width: 550px;
  margin: 100px 50px;
}

.homePage .sologan .pageDiscription h2 {
  font-family: 'Special Elite';
}

.homePage .sologan .pageDiscription h2::first-letter {
  font-weight: 999;
  font-size: 2.8rem;
}

.homePage .sologan .pageDiscription p {
  letter-spacing: 2px;
  font-weight: 99;
}

.homePage .frontVector {
  margin: 50px;
}

.homePage .frontVector img {
  width: 625px;
  height: 380px;
}

.homePage .frontVector h3 {
  position: relative;
  border-right: .15em solid black;
  top: 180px;
  letter-spacing: .05em;
  white-space: nowrap;
  margin: 0 auto;
  width: 330px;
  overflow: hidden;
  -webkit-animation: typing 3.5s steps(20, end), blink-caret 0.5s step-end;
          animation: typing 3.5s steps(20, end), blink-caret 0.5s step-end;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  20% {
    border-color: black;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  20% {
    border-color: black;
  }
}

.Apps .navBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(22, 90, 95, 0.2);
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.Apps .navBar .logo {
  padding: 20px;
  margin: 0px 40px;
}

.Apps .navBar .logo img {
  width: 80px;
}

.Apps .navBar .navList {
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.Apps .navBar .navList .linkStyle {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.Apps .navBar .navList li {
  padding: 10px;
  margin: 0px 40px;
  font-family: 'Special Elite', cursive;
}

.Apps .navBar .navList li::first-letter {
  font-size: 2rem;
}

.Apps .navBar .navList li:hover {
  color: white;
}

.About {
  margin-top: 30px;
  text-align: center;
}

.About .About-header h1, .About .About-header h2 {
  font-family: 'Modak', cursive;
}

.About .About-header h1::first-letter, .About .About-header h2::first-letter {
  font-family: 'Special Elite';
  margin: 5px 0px;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
}

.About .About-header .AboutBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px;
}

.About .About-header .AboutBody .AboutLogo {
  margin: 0px;
}

.About .About-header .AboutBody .AboutLogo img {
  width: 450px;
  height: 350px;
}

.About .About-header .AboutDiscription {
  margin-left: 120px;
  width: 700px;
  text-align: left;
}

.About .About-header .AboutDiscription p {
  line-height: 1.8em;
  text-align: justify;
}

.About .About-header .AboutDiscription .TeamCredits .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.About .About-header .AboutDiscription .TeamCredits .team .Uday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .About-header .AboutDiscription .TeamCredits .team .Uday img {
  width: 150px;
  border-radius: 50%;
}

.About .About-header .AboutDiscription .TeamCredits .team .Uday p {
  margin: 30px 20px;
}

.About .About-header .AboutDiscription .TeamCredits .team .Uday p span {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Special Elite',cursive;
}

.About .About-header .AboutDiscription .TeamCredits .team .verticalLine {
  border: 0px solid red;
  opacity: 1;
  -webkit-box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.4);
}

.About .About-header .AboutDiscription .TeamCredits .team .Aashish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About .About-header .AboutDiscription .TeamCredits .team .Aashish p {
  margin: 30px 20px;
}

.About .About-header .AboutDiscription .TeamCredits .team .Aashish p span {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Special Elite',cursive;
}

.About .About-header .AboutDiscription .TeamCredits .team .Aashish img {
  width: 150px;
  border-radius: 50%;
}

.Contact {
  margin-top: 30px;
  text-align: center;
}

.Contact .Contact-header h1, .Contact .Contact-header h2 {
  font-family: 'Modak', cursive;
}

.Contact .Contact-header h1::first-letter, .Contact .Contact-header h2::first-letter {
  font-family: 'Special Elite';
  margin: 5px 0px;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
}

.Contact .Contact-header .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Contact .Contact-header .contactContainer h4 {
  font-family: 'Special Elite', cursive;
  text-decoration: underline;
}

.Contact .Contact-header .contactContainer .formContainer {
  text-align: left;
}

.Contact .Contact-header .contactContainer .formContainer form input, .Contact .Contact-header .contactContainer .formContainer form textarea {
  margin: 10px 0px;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.Contact .Contact-header .contactContainer .formContainer form input:focus, .Contact .Contact-header .contactContainer .formContainer form textarea:focus {
  background-color: rgba(238, 235, 235, 0.171);
}

.Contact .Contact-header .contactContainer .formContainer form .MessageInput textarea {
  max-width: 500px;
  max-height: 150px;
  min-width: 300px;
  min-height: 100px;
  overflow: auto;
}

.Contact .Contact-header .contactContainer .formContainer form .EmailInput input {
  width: 300px;
}

.Contact .Contact-header .contactContainer .formContainer form .sendButton {
  margin: 10px 0px;
}
/*# sourceMappingURL=App.css.map */